{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form/edit') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('form/edit') }}
{% endblock %}

{% block body %}
    <h1>Edit form</h1>

    <div id="formWrapper">

        <div class="form-buttons">
            <button class="btn secondary add-formArea" data-insertType="prepend">Ajouter une zone</button>
            <button class="btn primary">Enregistrer</button>
        </div>

        <div id="form">
            {% for area in form.areas %}
                {% include 'form/_area.html.twig' with {'area': area} %}
            {% endfor %}
        </div>

        <div class="form-buttons">
            <button class="btn secondary add-formArea" data-insertType="append">Ajouter une zone</button>
            <button class="btn primary">Enregistrer</button>
        </div>
    </div>

    {# The following code is only for Javascript templating #}
    <div id="sampleFormArea">
        {% include 'form/_area.html.twig' with {'area': _blankArea} %}
    </div>

{% endblock %}

