<div class="widget widgetLabel">
    <textarea class="saveOnInput" data-attribute="innerText" rows="2" placeholder="Tapez votre label ...">
        {{- widget.innerTextSetting -}}
    </textarea>

    <br>

    <button class="openModalSetWidgetOptions btn secondary" style="padding: 5px;">
        Paramétrer le label
    </button>
</div>