<div class="widget widgetLabel">

    <p>
    {{ widget.innerTextSetting|default('Label vide') }}
    </p>

    <button class="openModalSetWidgetOptions btn secondary" style="padding: 5px;">
        Paramétrer le label
    </button>
</div>