<div class="widget widgetLabel">
    <textarea class="saveOnInput" data-attribute="innerText" rows="2" placeholder="Tapez votre label ...">
        {{- widget.innerTextSetting -}}
    </textarea>
</div>