.adoccia-paginator
{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.paginator_item_far > a, .paginator_item_close > a, .paginator_item_current > a
{
  display: block;
  background-color: #fff;
  color: $adocciaMainColor;
  padding: .5em;
  min-width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 0 7px;
}

.paginator_item_arrow > a
{
  padding: .5em;
  color: $adocciaMainColor;
}

.paginator_dots > span
{
  padding: .5em;
}

.paginator_item_current > a
{
  font-weight: bold;
  background-color: $adocciaMainColor;
  color: #fff;
}