html, body {
  background-color: #f4f8fb;
  height: 100%;
}

.AppHeader_Nav {
  background: $primaryColor;
  .AppHeader_Nav_Link {
    color: $navItemTextColor;
  }
  .AppHeader_Logo {
    color: #fff;
    font-weight: bold;
    font-size: 30px;
  }
}