@import "variables";

html, body {
  background-color: $siteBackgroundColor;
  height: 100%;
}

#AppTopWrapper {

  // Modal is needed everywhere on the site
  @import "modal";
  @import "paginator";

  * {
    box-sizing: border-box;
  }

  *:not(.fas) {
    font-family: 'Open Sans', sans-serif;
  }

  img {
    display: block;
  }

  .hidden {
    display: none;
  }

  .AppHeader_Nav {
    background: $primaryColor;
    .AppHeader_Nav_Link {
      color: $navItemTextColor;
      font-weight: bold;
      text-transform: initial;
      &.selected {
        background-color: $siteBackgroundColor;
        color: $primaryColor;
      }

      .icon {
        font-size: 30px;
        margin-right: 10px;
      }
    }
    .AppHeader_Logo {
      color: #fff;
      font-weight: bold;
      font-size: 30px;
    }
  }
}

