#AppTopWrapper {

    @import "variables";
    @import "layout";
    @import "btn";
    @import "leaflet";
    @import "modal";
    @import "misc";

    * {
        box-sizing: border-box;
    }

    *:not(.fas) {
        font-family: 'Open Sans', sans-serif;
    }

    img {
        display: block;
    }

    .hidden {
        display: none;
    }
}
