@import "../variables";

.listOfCategories_Card {
  max-width: 250px;
  margin: auto;
  cursor: pointer;
}
.listOfCategories_Card_Body {
  padding: 10px;
}
.listOfCategories_Card_Title {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  a {
    color: $defaultLinkColor;
    &:hover {
      text-decoration: none;
    }
  }
}