{%- block advanced_picture_row -%}
    <div class="advanced-picture">
        {{ form_widget(form) }}
        <div class="picture-preview" style="position:relative;">
            <img style="max-width:300px;" />
        </div>
    </div>
{%- endblock -%}