{%- block advanced_picture_row -%}
    <div class="advanced-picture" data-aspectratio="{{ aspectRatio|default(0) }}">
        {{ form_widget(form) }}
        {% set picture = form.vars.value|default(null) %}
        <div class="picture-preview" style="position:relative;">
            {% set pictureUrl = app.request.schemeAndHttpHost ~ '/' ~ picturesDir ~ 'crpd_' ~ (picture ? picture.filename : '') %}
            <img style="max-width:300px;" {{ picture ? 'src=' ~ pictureUrl : '' }} />
        </div>
    </div>
{%- endblock -%}