{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>A propos</h1>
        <p>
            <em>Qu'est-ce que c'est, Adoccia ?</em> <br>
            C'est un outil de gestion de collections. Une collection est un ensemble
            regroupant des éléments de même nature. Par exemple, une collection de timbres, une collection des meilleurs restaurants rouennais, une collection d'amis, une collection de documents administratifs, une collection de recettes de cuisine, etc.
        </p>
    </div>
{% endblock %}


