<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/css/uikit.min.css" />
            {{ encore_entry_link_tags('mainStyle') }}
            {{ load_Leaflet_style() }}
        {% endblock %}
    </head>
    <body id="AppTopWrapper">
        {% block header %}
            {% include '_header.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}

        {% include '_modal.html.twig' %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.2.3/dist/js/uikit-icons.min.js"></script>
            {{ load_Leaflet_script() }}
            {{ encore_entry_script_tags('app') }}
            {% include '_endpoints.html.twig' %}
            <script src="https://kit.fontawesome.com/c6268521db.js" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
