<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('theme') }}
            {{ load_Leaflet_style() }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include '_header.html.twig' %}
        {% endblock %}
        {% block body %}{% endblock %}

        {% include '_modal.html.twig' %}

        {% block javascripts %}
            {{ load_Leaflet_script() }}
            {{ encore_entry_script_tags('app') }}
            {% include '_endpoints.html.twig' %}
            <script src="https://kit.fontawesome.com/c6268521db.js" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
