{% extends 'base.html.twig' %}
{% form_theme form 'form/TWIG_widget_types.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('fiche') }}
    <style>
        input {
            border: 0 !important;
            outline: 0 !important;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Modifier la fiche "{{ fiche.title }}"</h1>

    {% for label, messages in app.flashes(['editFicheError']) %}
        {% for message in messages %}
            <p>{{ label }}</p>
        {% endfor %}
    {% endfor %}

    <div style="width:600px;">
        {% include 'fiche/_fiche.html.twig' with {'form': form, 'fiche': fiche} %}
    </div>
{% endblock %}

