{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vous y êtes presque ...</h1>
    <p>Nous venons de vous envoyer un email contenant un lien vous permettant de redéfinir votre mot de passe.</p>
    <p>Attention, ce lien a une durée de vie limitée à 1 heure.</p>
    <p>
        <a href="{{ url('app.homepage') }}">Retour à l'accueil</a>
    </p>
{% endblock %}


